.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}
.heading {
  color: #00e7ff;
  font-size: 48px;
  font-family: 'Roboto';
}
.currency-image {
  object-fit: cover;
}
.app-body {
  width: 85%;
  border: 4px solid #00e7ff;
  border-radius: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.header-container {
  display: flex;
  min-height: 40px;
  background-color: #092e33;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.currencies-header {
  width: 40%;
  display: flex;
  justify-content: space-around;
  padding-left: 25px;
}
.coin-type {
  color: #ffffff;
  font-family: 'Roboto';
  flex-grow: 1;
  padding-left: 30px;
}
.header-name {
  color: #ffffff;
  font-family: 'Roboto';
}
